In [1]:
import csv
import pickle
import numpy as np
import pandas as pd
import datetime

In [142]:

with open("bloom_date.pkl", "rb") as file:
    # Load the pickled object into a variable
    bloom_date = pickle.load(file)
    file.close()
with open("past_data.pkl", "rb") as file:
    # Load the pickled object into a variable
    past_data = pickle.load(file)
    file.close()

In [151]:
bloom_date['Washington DC']['bloom_date']

[Timestamp('2010-03-31 00:00:00'),
 Timestamp('2011-03-29 00:00:00'),
 Timestamp('2012-03-20 00:00:00'),
 Timestamp('2013-04-09 00:00:00'),
 Timestamp('2014-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2016-03-25 00:00:00'),
 Timestamp('2017-03-25 00:00:00'),
 Timestamp('2018-04-05 00:00:00'),
 Timestamp('2019-04-01 00:00:00'),
 Timestamp('2020-03-20 00:00:00'),
 Timestamp('2021-03-28 00:00:00'),
 Timestamp('2022-03-21 00:00:00')]

In [145]:
bloom_date['Liestal']=bloom_date['liestal']['bloom_date']
del bloom_date['liestal']

bloom_date['Washington DC']=bloom_date['washingtondc']['bloom_date']
del bloom_date['washingtondc']

bloom_date['Kyoto']=bloom_date['kyoto']['bloom_date']
del bloom_date['kyoto']

bloom_date['Vancouver']=bloom_date['vancouver']['bloom_date']
del bloom_date['vancouver']

In [150]:
print(bloom_date['Liestal'].keys())
print(past_data['Liestal'].keys())
print(bloom_date['Vancouver']['bloom_date'])

dict_keys(['bloom_date', 'unix_time'])
dict_keys(['temp', 'humidity', 'precip', 'datetimeStr', 'rain'])
[Timestamp('2022-03-27 00:00:00')]

In [ ]:
for i in 
# convert each Timestamp object to a string in the desired format
dates_str = [ts.strftime('%Y-%m-%d') for ts in timestamps]

In [139]:
df=pd.DataFrame(past_data['Liestal'])
df['datetimeStr'] = pd.to_datetime(df['datetimeStr'])

# extract the date part of the datetime values using the .dt.date attribute
df['datetimeStr'] = df['datetimeStr'].apply(lambda x: x.date())

# convert the resulting Series of dates to a Series of strings in the desired format
df['datetimeStr'] = df['datetimeStr'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [141]:
bloom_date['Vancouver']

{'bloom_date': [Timestamp('2022-03-27 00:00:00')], 'unix_time': [1648339200]}

In [140]:
df#pandas.core.series.Series

      temp  humidity  precip datetimeStr  rain
0      2.7     95.06   10.41  2010-01-01     0
1     -2.2     75.83    0.00  2010-01-02     0
2     -3.9     73.47    0.00  2010-01-03     0
3     -5.6     83.84    0.00  2010-01-04     0
4     -4.9     82.53    0.11  2010-01-05     0
...    ...       ...     ...         ...   ...
1324  10.7     79.33   21.31  2022-04-08     1
1325   5.6     73.45    4.60  2022-04-09     1
1326   6.0     66.71    1.40  2022-04-10     1
1327   9.4     54.23    0.00  2022-04-11     0
1328  14.0     51.70    0.00  2022-04-12     0

[1329 rows x 5 columns]

In [68]:
past_data['Liestal']['datetimeStr'][0].split('-')[0]

'2010'

In [69]:
for city in past_data.keys():
    for var in past_data[city]:
        print(f'{city} {var} {len(past_data[city][var])}')

Liestal temp 1329
Liestal humidity 1329
Liestal precip 1329
Liestal datetimeStr 1329
Liestal rain 1329
Liestal labels 4089
Washington DC temp 1329
Washington DC humidity 1329
Washington DC precip 1329
Washington DC datetimeStr 1329
Washington DC rain 1329
Washington DC labels 4089
Kyoto temp 1329
Kyoto humidity 1329
Kyoto precip 1329
Kyoto datetimeStr 1329
Kyoto rain 1329
Kyoto labels 4089
Vancouver temp 1329
Vancouver humidity 1329
Vancouver precip 1329
Vancouver datetimeStr 1329
Vancouver rain 1329
Vancouver labels 4089

In [17]:
my_list = past_data['Kyoto']['labels']
indices = [i for i, x in enumerate(my_list) if x == 1]
print(len(indices))  # Output: [1, 2, 4]

156

In [ ]:
past_data['Kyoto']['datetimeStr'][0].split('T')[0]==pd.Timestamp('2010-01-01 00:00:00').strftime('%Y-%m-%d')

In [ ]:
pd.Timestamp(past_data['Kyoto']['datetimeStr'][0]).strftime('%Y-%m-%d')

In [ ]:
bloom_date['washingtondc']['bloom_date'][0]#.strftime('%Y-%m-%d')

In [ ]:
dt = pd.to_datetime('2010-01-01T00:00:00+09:00')

# Convert datetime object to desired timestamp format
ts = pd.Timestamp(dt)
print(ts)

In [ ]:
def growth_time(x,time):
    return datetime.datetime.fromtimestamp(time)+x

In [ ]:
pd.Timestamp('2010-01-01 00:00:00')

In [ ]:
# Create timestamp object
ts = datetime.datetime(bloom_date['washingtondc']['bloom_date'][0])

# Convert timestamp to string format 'yyy-mm-dd'
formatted_date = ts.strftime('%Y-%m-%d')

print(formatted_date)  # Output: '2010-03-31'

In [ ]:
import numpy as np

def softmax_3d(x, a, b, c):
    logits = a * x[:, 0, :, :] + b * x[:, 1, :, :] + c * x[:, 2, :, :]
    exp_logits = np.exp(logits)
    return exp_logits / np.sum(exp_logits, axis=(1, 2))

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
# Plot the data points
sns.scatterplot(x=temp, y=development, color='blue')

# Generate a range of temperature values for the logistic function
x_range = np.linspace(min(temp), max(temp), 100)

# Evaluate the logistic function at the temperature range
y_range = logistic_function(x_range, *popt)

# Plot the logistic function curve
sns.lineplot(x=x_range, y=y_range, color='orange')

# Add axis labels and a title
plt.xlabel('Temperature (°C))
plt.ylabel('Development')
plt.title('Logistic Function Fit to Temperature and Development Data')

plt.show()